.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* src/App.css */
.recipe-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.resize_image{
  width: 100% !important;
  height: 330px !important;
  object-fit: cover !important;
}

.card_size{
  height: 700px !important;
}

.carousel-text{
  color:#fff;
  font-weight:1000;
}

@media (max-width: 767px) {
  .card_size {
    height: auto !important;
  }
  .mobile_margin{
    margin-top:7px !important;
    margin-bottom:10px !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
